<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
<div id="container" class="effect aside-float aside-bright mainnav-lg">

    <header th:replace="layout/layout :: header"></header>

    <div class="boxed">
        <div id="content-container">

            <div th:replace="layout/layout :: page-head"></div>

            <!-- Content -->
            <div id="page-content">

                <div class="panel">
                    <div class="panel-heading">
                        <a th:href="@{/product/form}" class="btn btn-success p-3">Nuevo Producto</a>
                    </div>
                    <div class="panel-body">
                        <table  data-toggle="table"
                                data-search="true"
                                data-show-refresh="true"
                                data-show-toggle="true"
                                data-show-columns="true"
                                data-sort-name="id"
                                data-page-list="[5, 10, 20]"
                                data-page-size="5"
                                data-pagination="true" data-show-pagination-switch="true">
                            <thead class="thead-inverse">
                            <tr>
                                <th data-align="center"  data-sortable="true" >id</th>
                                <th data-sortable="true" >Nombre</th>
                                <th data-sortable="true" >Descripción</th>
                                <th data-sortable="true" >Imagen</th>
                                <th data-sortable="true" >Creado</th>
                                <th data-sortable="true" >Editado</th>
                                <th data-align="center" >Editar</th>
                                <th data-align="center" >Eliminar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${list_products}">
                                <td data-align="center" th:text="${product.id}"></td>
                                <td th:text="${product.name}"></td>
                                <td th:text="${product.description}"></td>
                                <td th:text="${product.image}"></td>
                                <td th:text="${product.createdAt}"></td>
                                <td th:text="${product.updatedAt}"></td>
                                <td ><a class="btn btn-primary btn-xs" th:href="@{/product/form/} + ${product.id}" th:text="'Editar'"></a></td>
                                <td ><a class="btn btn-danger btn-xs" th:href="@{/product/eliminar/} + ${product.id}" th:text="'Eliminar'"></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- End Content -->

        </div>

        <!-- MENU PRINCIPAL -->
        <nav th:replace="layout/layout :: mainnav-container"></nav>
        <!-- END MENU PRINCIPAL -->

    </div>

    <footer th:replace="layout/layout :: footer"></footer>

</div>
</body>
</html>




