
/* Boton Upload */
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}


.blue-btn:hover,
.blue-btn:active,
.blue-btn:focus,
.blue-btn {
    background: transparent;
    border: solid 1px #27a9e0;
    border-radius: 3px;
    color: #27a9e0;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none !important;
    padding: 10px 20px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    height: 43px;
    margin-top: 0;
}

.fileUpload input.uploadlogo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
    height: 42px;
}



/*
==========================================================================================================
      BOX SHOPPING CART
==========================================================================================================
*/

.velo-box{
    height: 100%;
    width: calc(100% - 20px);
    background: rgba(0, 0, 0, 0.56);
    position: absolute;
    right: 0;
    left: 10px;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: 1s;
}

.header-box-container{
    position: absolute;
    z-index: 1;
    padding: 0 25px;
    transform: translateY(280px);
    transition: all .8s ease;
}

.body-box-container{
    position: absolute;
    z-index: 1;
    padding: 0 25px;
    transform: translateY(400px);
    transition: all 1.2s ease;
}

.box-cart:hover > .header-box-container{
    position: absolute;
    z-index: 1;
    padding: 0 25px;
    transform: translateY(70px);
}

.box-cart:hover > .body-box-container{
    position: absolute;
    z-index: 1;
    padding: 0 25px;
    transform: translateY(200px);
}

img.img-box{
    height: 400px!important;
    object-fit: cover;
    position: relative;
    top:0px;
}

.box-cart{
    overflow: hidden;
    color: white;
    margin-bottom: 20px!important;
}

.box-cart:hover .velo-box {
    height: 100%;
    width: calc(100% - 20px);
    /*background: rgba(91, 155, 89, 0.95);*/
    background: rgba(38, 71, 106, 0.9);
    position: absolute;
    right: 0;
    transition: 0.3s;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.box-title{
    color: white !important;
    text-transform: uppercase;
    font-size: 35px;
}

img.img-detail {
    height: 350px!important;
    object-fit: cover;
    position: relative;
    top: 0px;
    border: solid 1px #8c8c8c;
}

/* NUMBER SPINNER */
.number-spinner {
    max-width: 150px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #26476a;
    overflow: hidden;
    position: relative;
    display: table;
}
.number-spinner input {
    height: 30px;
    max-height: 30px;
    line-height: 30px;
    font-size: 1em;
    padding: 0;
    margin: 0;
    border: none;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}
.number-spinner input:focus {
    outline: none;
}
.number-spinner .ns-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
}
.number-spinner .ns-btn a {
    height: 30px;
    min-height: 30px;
    width: 30px;
    padding: 0;
    max-width: 30px;
    line-height: 30px;
    border-radius: 0;
    border: none;
    text-align: center;
    position: relative;
    background: #26476a;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
.number-spinner .ns-btn .icon-minus:after {
    content: "\002212";
    font-size: 30px;
    line-height: 28px;
    font-weight: bold;
    color: white;
}
.number-spinner .ns-btn .icon-plus:after {
    content: "\00002B";
    font-size: 28px;
    line-height: 30px;
    font-weight: bold;
    color: white;
}


/*CALENDAR */
input:focus {outline: none;}
#ui-datepicker-div {
    display: none;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.ui-datepicker-calendar thead th {
    padding: 0.25rem 0;
    text-align: center;
    font-size:1rem;
    font-weight: 400;
    color: #78909C;
}
.ui-datepicker-calendar tbody td {
    width: 2.5rem;
    text-align: center;
    padding: 0;
}
.ui-datepicker-calendar tbody td a {
    display: block;
    border-radius: 0.25rem;
    line-height: 2rem;
    transition: 0.3s all;
    color: #546E7A;
    font-size: 1rem;
    text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {
    background-color: #E0F2F1;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
    background-color: #009688;
    color: white;
}
.ui-datepicker-header a.ui-corner-all {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    transition: 0.3s all;
}
.ui-datepicker-header a.ui-corner-all:hover {
    background-color: #ECEFF1;
}
.ui-datepicker-header a.ui-datepicker-prev {
    left: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 50%;
    transform: rotate(180deg);
}
.ui-datepicker-header a.ui-datepicker-next {
    right: 0;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 50%;
}
.ui-datepicker-header a>span {
    display: none;
}
.ui-datepicker-title {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 0.25rem;
}
.ui-datepicker-week-col {
    color: #78909C;
    font-weight: 400;
    font-size: 1rem;
}