<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title th:text="${title_page}"></title>

        <!--STYLESHEET-->
        <!--=================================================-->

        <!--Open Sans Font [ OPTIONAL ]-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

        <!--Bootstrap Stylesheet [ REQUIRED ]-->
        <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">

        <!--Nifty Stylesheet [ REQUIRED ]-->
        <link th:href="@{/assets/css/nifty.min.css}" rel="stylesheet">

        <!--Nifty Premium Icon [ DEMONSTRATION ]-->
        <link th:href="@{/assets/css/demo/nifty-demo-icons.min.css}" rel="stylesheet">

        <!--Pace - Page Load Progress Par [OPTIONAL]-->
        <link th:href="@{/assets/plugins/pace/pace.min.css}" rel="stylesheet">
        <script th:href="@{/assets/plugins/pace/pace.min.js}"></script>
        <!--Demo [ DEMONSTRATION ]-->
<!--        <link th:href="@{/assets/css/demo/nifty-demo.min.css}" rel="stylesheet">-->

        <!-- ICONS -->
        <link th:href="@{/assets/plugins/ionicons/css/ionicons.min.css}" rel="stylesheet">

        <!-- BOOTSTRAP TABLE -->
        <link th:href="@{/assets/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">

        <!--X-editable [ OPTIONAL ]-->
        <link th:href="@{/assets/plugins/x-editable/css/bootstrap-editable.css}" rel="stylesheet">

        <!--Dropzone [ OPTIONAL ]-->
        <link th:src="@{/assets/plugins/dropzone/dropzone.min.css}" rel="stylesheet">



        <link th:href="@{/assets/plugins/bootstrap-validator/bootstrapValidator.min.css}" rel="stylesheet">

        <link th:href="@{/assets/plugins/css-loaders/css/css-loaders.css}" rel="stylesheet">

        <!--Chosen [ OPTIONAL ]-->
        <link th:href="@{/assets/plugins/chosen/chosen.css}" rel="stylesheet">

        <!--noUiSlider [ OPTIONAL ]-->
        <link th:href="@{/assets/plugins/noUiSlider/nouislider.css}" rel="stylesheet">

        <!--Select2 [ OPTIONAL ]-->
        <link th:href="@{/assets/plugins/select2/css/select2.min.css}" rel="stylesheet">


<!--        &lt;!&ndash;DATE PICKER &ndash;&gt;-->
<!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css">-->
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js"></script>-->
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.es.min.js"></script>-->
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <!-- CUSTOM CSS -->
        <link th:href="@{/assets/css/demo/custom-login.css}" rel="stylesheet">
        <link th:href="@{/assets/css/custom.css}" rel="stylesheet">



        <!--Bootstrap Datepicker [ OPTIONAL ]-->
        <link th:href="@{/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}" rel="stylesheet">



    </head>

    <body>

        <div class="col-12" id="loader-page" th:fragment="loader">
            <div class="panel">
                <div class="panel-body">
                    <div class="load3">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="container" class="effect aside-float aside-bright mainnav-lg">
            <!--NAVBAR-->
            <!--===================================================-->
            <header th:fragment="header" id="navbar">

                <div id="navbar-container" class="boxed">

                    <!--Brand logo & name-->
                    <!--================================-->
                    <div class="navbar-header">
                        <a href="index.html" class="navbar-brand">
                            <img th:src="@{/assets/img/logo.png}" alt="Maipo Grande" class="brand-icon">
                            <div class="brand-title">
                                <span class="brand-text">Maipo Grande</span>
                            </div>
                        </a>
                    </div>
                    <!--================================-->
                    <!--End brand logo & name-->


                    <!--Navbar Dropdown-->
                    <!--================================-->
                    <div class="navbar-content">
                        <ul class="nav navbar-top-links">

                            <!--Navigation toogle button-->
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <li class="tgl-menu-btn">
                                <a class="mainnav-toggle" href="#">
                                    <i class="demo-pli-list-view"></i>
                                </a>
                            </li>
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <!--End Navigation toogle button-->



                            <!--Search-->
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <li>
                                <div class="custom-search-form">
                                    <label class="btn btn-trans" for="search-input" data-toggle="collapse" data-target="#nav-searchbox">
                                        <i class="demo-pli-magnifi-glass"></i>
                                    </label>
                                    <form>
                                        <div class="search-container collapse" id="nav-searchbox">
                                            <input id="search-input" type="text" class="form-control" placeholder="Buscar...">
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <!--End Search-->

                        </ul>
                        <ul class="nav navbar-top-links">


                            <!--Mega dropdown-->
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <li class="mega-dropdown">
                                <a href="#" class="mega-dropdown-toggle">
                                    <i class="demo-pli-layout-grid"></i>
                                </a>
                                <div class="dropdown-menu mega-dropdown-menu">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3">

                                            <!--Mega menu list-->
                                            <ul class="list-unstyled">
                                                <li class="dropdown-header"><i class="demo-pli-file icon-lg icon-fw"></i> Pages</li>
                                                <li><a href="#">Profile</a></li>
                                                <li><a href="#">Search Result</a></li>
                                                <li><a href="#">FAQ</a></li>
                                                <li><a href="#">Sreen Lock</a></li>
                                                <li><a href="#">Maintenance</a></li>
                                                <li><a href="#">Invoice</a></li>
                                                <li><a href="#" class="disabled">Disabled</a></li>                                        </ul>

                                        </div>
                                        <div class="col-sm-4 col-md-3">

                                            <!--Mega menu list-->
                                            <ul class="list-unstyled">
                                                <li class="dropdown-header"><i class="demo-pli-mail icon-lg icon-fw"></i> Mailbox</li>
                                                <li><a href="#"><span class="pull-right label label-danger">Hot</span>Indox</a></li>
                                                <li><a href="#">Read Message</a></li>
                                                <li><a href="#">Compose</a></li>
                                                <li><a href="#">Template</a></li>
                                            </ul>
                                            <p class="pad-top text-main text-sm text-uppercase text-bold"><i class="icon-lg demo-pli-calendar-4 icon-fw"></i>News</p>
                                            <p class="pad-top mar-top bord-top text-sm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                                        </div>
                                        <div class="col-sm-4 col-md-3">
                                            <!--Mega menu list-->
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="#" class="media mar-btm">
                                                        <span class="badge badge-success pull-right">90%</span>
                                                        <div class="media-left">
                                                            <i class="demo-pli-data-settings icon-2x"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <p class="text-semibold text-main mar-no">Data Backup</p>
                                                            <small class="text-muted">This is the item description</small>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="media mar-btm">
                                                        <div class="media-left">
                                                            <i class="demo-pli-support icon-2x"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <p class="text-semibold text-main mar-no">Support</p>
                                                            <small class="text-muted">This is the item description</small>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="media mar-btm">
                                                        <div class="media-left">
                                                            <i class="demo-pli-computer-secure icon-2x"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <p class="text-semibold text-main mar-no">Security</p>
                                                            <small class="text-muted">This is the item description</small>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="media mar-btm">
                                                        <div class="media-left">
                                                            <i class="demo-pli-map-2 icon-2x"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <p class="text-semibold text-main mar-no">Location</p>
                                                            <small class="text-muted">This is the item description</small>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-12 col-md-3">
                                            <p class="dropdown-header"><i class="demo-pli-file-jpg icon-lg icon-fw"></i> Gallery</p>
                                            <div class="row img-gallery">
                                                <div class="col-xs-4">
                                                    <img class="img-responsive" src="img/thumbs/img-1.jpg" alt="thumbs">
                                                </div>
                                                <div class="col-xs-4">
                                                    <img class="img-responsive" src="img/thumbs/img-3.jpg" alt="thumbs">
                                                </div>
                                                <div class="col-xs-4">
                                                    <img class="img-responsive" src="img/thumbs/img-2.jpg" alt="thumbs">
                                                </div>
                                                <div class="col-xs-4">
                                                    <img class="img-responsive" src="img/thumbs/img-4.jpg" alt="thumbs">
                                                </div>
                                                <div class="col-xs-4">
                                                    <img class="img-responsive" src="img/thumbs/img-6.jpg" alt="thumbs">
                                                </div>
                                                <div class="col-xs-4">
                                                    <img class="img-responsive" src="img/thumbs/img-5.jpg" alt="thumbs">
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-block btn-primary">Browse Gallery</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <!--End mega dropdown-->



                            <!--Notification dropdown-->
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                    <i class="demo-pli-bell"></i>
                                    <span class="badge badge-header badge-danger"></span>
                                </a>


                                <!--Notification dropdown menu-->
                                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                    <div class="nano scrollable">
                                        <div class="nano-content">
                                            <ul class="head-list">
                                                <li>
                                                    <a href="#" class="media add-tooltip" data-title="Used space : 95%" data-container="body" data-placement="bottom">
                                                        <div class="media-left">
                                                            <i class="demo-pli-data-settings icon-2x text-main"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <p class="text-nowrap text-main text-semibold">HDD is full</p>
                                                            <div class="progress progress-sm mar-no">
                                                                <div style="width: 95%;" class="progress-bar progress-bar-danger">
                                                                    <span class="sr-only">95% Complete</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="media" href="#">
                                                        <div class="media-left">
                                                            <i class="demo-pli-file-edit icon-2x"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <p class="mar-no text-nowrap text-main text-semibold">Write a news article</p>
                                                            <small>Last Update 8 hours ago</small>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="media" href="#">
                                                        <span class="label label-info pull-right">New</span>
                                                        <div class="media-left">
                                                            <i class="demo-pli-speech-bubble-7 icon-2x"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <p class="mar-no text-nowrap text-main text-semibold">Comment Sorting</p>
                                                            <small>Last Update 8 hours ago</small>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="media" href="#">
                                                        <div class="media-left">
                                                            <i class="demo-pli-add-user-star icon-2x"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <p class="mar-no text-nowrap text-main text-semibold">New User Registered</p>
                                                            <small>4 minutes ago</small>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="media" href="#">
                                                        <div class="media-left">
                                                            <img class="img-circle img-sm" alt="Profile Picture" src="img/profile-photos/9.png">
                                                        </div>
                                                        <div class="media-body">
                                                            <p class="mar-no text-nowrap text-main text-semibold">Lucy sent you a message</p>
                                                            <small>30 minutes ago</small>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="media" href="#">
                                                        <div class="media-left">
                                                            <img class="img-circle img-sm" alt="Profile Picture" src="img/profile-photos/3.png">
                                                        </div>
                                                        <div class="media-body">
                                                            <p class="mar-no text-nowrap text-main text-semibold">Jackson sent you a message</p>
                                                            <small>40 minutes ago</small>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!--Dropdown footer-->
                                    <div class="pad-all bord-top">
                                        <a href="#" class="btn-link text-main box-block">
                                            <i class="pci-chevron chevron-right pull-right"></i>Show All Notifications
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <!--End notifications dropdown-->



                            <!--User dropdown-->
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <li id="dropdown-user" class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                    <span class="ic-user pull-right">
                                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                        <!--You can use an image instead of an icon.-->
                                        <!--<img class="img-circle img-user media-object" src="img/profile-photos/1.png" alt="Profile Picture">-->
                                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                        <i class="demo-pli-male"></i>
                                    </span>
                                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                    <!--You can also display a user name in the navbar.-->
                                    <!--<div class="username hidden-xs">Aaron Chavez</div>-->
                                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                </a>


                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
                                    <ul class="head-list">
                                        <li>
                                            <a href="#"><i class="demo-pli-male icon-lg icon-fw"></i> Perfil</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="$('#logoutForm').submit();"><i class="demo-pli-unlock icon-lg icon-fw"></i> Cerrar Sesión</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <!--End user dropdown-->


                            <li>
                                <a href="#" class="aside-toggle">
                                    <i class="demo-pli-dot-vertical"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--================================-->
                    <!--End Navbar Dropdown-->

                </div>
            </header>
            <!--===================================================-->
            <!--END NAVBAR-->
            <div class="boxed">
                <div id="content-container">

                    <div id="page-head" th:fragment="page-head">
                        <div class="pad-all">
                            <h2 th:text="${title_header}"></h2>
                            <p th:text="${subtitle_header}"></p>
                        </div>
                    </div>

                    <div class="alert alert-success" th:if="${success != null}"
                         th:text="${success}"></div>
                    <div class="alert alert-danger" th:if="${error != null}"
                         th:text="${error}"></div>
                    <div class="alert alert-warning" th:if="${warning != null}"
                         th:text="${warning}"></div>
                    <div class="alert alert-info" th:if="${info != null}"
                         th:text="${info}"></div>
                    <!-- CONTENT -->
                    <div id="page-content"></div>
                    <!-- END CONTENT -->
                </div>



                <!--MAIN NAVIGATION-->
                <!--===================================================-->
                <nav id="mainnav-container" th:fragment="mainnav-container">
                    <div id="mainnav">


                        <!--OPTIONAL : ADD YOUR LOGO TO THE NAVIGATION-->
                        <!--It will only appear on small screen devices.-->
                        <!--================================
                        <div class="mainnav-brand">
                            <a href="index.html" class="brand">
                                <img src="img/logo.png" alt="Nifty Logo" class="brand-icon">
                                <span class="brand-text">Nifty</span>
                            </a>
                            <a href="#" class="mainnav-toggle"><i class="pci-cross pci-circle icon-lg"></i></a>
                        </div>
                        -->



                        <!--Menu-->
                        <!--================================-->
                        <div id="mainnav-menu-wrap">
                            <div class="nano">
                                <div class="nano-content">

                                    <!--Profile Widget-->
                                    <!--================================-->
                                    <div id="mainnav-profile" class="mainnav-profile">
                                        <div class="profile-wrap text-center">
                                            <div class="pad-btm">
                                                <img class="img-circle img-md" th:src="@{/assets/img/profile-photos/1.png}" alt="Profile Picture">
                                            </div>
                                            <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                                <span class="pull-right dropdown-toggle">
                                                    <i class="dropdown-caret"></i>
                                                </span>
                                                <p class="mnp-name" sec:authentication="name"></p>
                                                <span class="mnp-desc">email@email.com</span>
                                            </a>
                                        </div>
                                        <div id="profile-nav" class="collapse list-group bg-trans">
                                            <a href="#" class="list-group-item">
                                                <i class="demo-pli-male icon-lg icon-fw"></i> Mi Perfil
                                            </a>
                                            <form id="logoutForm" th:action="@{/logout}" method="post">
                                                <a href="javascript:void(0);"  onclick="$('#logoutForm').submit();"  class="list-group-item">
                                                    <i class="demo-pli-unlock icon-lg icon-fw"></i> Cerrar Sesión
                                                </a>
                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                            </form>
                                        </div>
                                    </div>


                                    <!--Shortcut buttons-->
                                    <!--================================-->
                                    <div id="mainnav-shortcut" class="hidden">
                                        <ul class="list-unstyled shortcut-wrap">
                                            <li class="col-xs-3" data-content="My Profile">
                                                <a class="shortcut-grid" href="#">
                                                    <div class="icon-wrap icon-wrap-sm icon-circle bg-mint">
                                                        <i class="demo-pli-male"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="col-xs-3" data-content="Messages">
                                                <a class="shortcut-grid" href="#">
                                                    <div class="icon-wrap icon-wrap-sm icon-circle bg-warning">
                                                        <i class="demo-pli-speech-bubble-3"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="col-xs-3" data-content="Activity">
                                                <a class="shortcut-grid" href="#">
                                                    <div class="icon-wrap icon-wrap-sm icon-circle bg-success">
                                                        <i class="demo-pli-thunder"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="col-xs-3" data-content="Lock Screen">
                                                <a class="shortcut-grid" href="#">
                                                    <div class="icon-wrap icon-wrap-sm icon-circle bg-purple">
                                                        <i class="demo-pli-lock-2"></i>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--================================-->
                                    <!--End shortcut buttons-->


                                    <ul id="mainnav-menu" class="list-group">

                                        <!--Category name-->
                                        <li class="list-header">Menu Principal</li>

                                        <li class="active-sub">
                                            <a th:href="@{/home}">
                                                <i class="demo-pli-home"></i>
                                                <span class="menu-title">
                                                    Dashboard
                                                </span>
                                            </a>
                                        </li>

                                        <!--Menu list item-->
                                        <li>
                                            <a th:href="@{/product/index}">
                                                <i class="ion-person-stalker"></i>
                                                <span class="menu-title">Productos</span>
                                                <i class="arrow"></i>
                                            </a>
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a th:href="@{/product/index}">Productos</a></li>
                                                <li><a th:href="@{/category/index}">Categorías</a></li>
                                                <li><a th:href="@{/product-available/index}">Productos Disponibles</a></li>
                                            </ul>
                                        </li>

                                        <!--Menu list item-->
                                        <li>
                                            <a th:href="@{/transport/index}">
                                                <i class="ion-person-stalker"></i>
                                                <span class="menu-title">Transportes</span>
                                            </a>
                                        </li>

                                        <!--Menu list item-->
                                        <li>
                                            <a th:href="@{/person/index}">
                                                <i class="ion-person-stalker"></i>
                                                <span class="menu-title">Usuarios</span>
                                                <i class="arrow"></i>
                                            </a>

                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a th:href="@{/person/index}">Administradores</a></li>
                                                <li><a href="#">Supervisores</a></li>
                                                <li><a href="#">Bodegueros</a></li>
                                                <li><a href="#">Clientes Externos</a></li>
                                                <li><a href="#">Clientes Internos</a></li>
                                                <li><a href="#">Transportistas</a></li>
                                                <li><a href="#">Productores</a></li>
                                            </ul>
                                        </li>

                                        <li class="list-divider"></li>

                                        <!--Category name-->
                                        <li class="list-header">Ventas</li>

                                        <!--Menu list item-->
                                        <li>
                                            <a th:href="@{/shopping-cart/index}">
                                                <i class="demo-pli-gear"></i>
                                                <span class="menu-title">
                                                    Carrito de Compras
                                                    <span class="pull-right badge badge-warning">24</span>
                                                </span>
                                            </a>
                                        </li>

                                        <!--Menu list item-->

                                        <li>
                                            <a href="#">
                                                <i class="demo-pli-bar-chart"></i>
                                                <span class="menu-title"> Licitaciones</span>
                                                <i class="arrow"></i>
                                            </a>

                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="#">Activas</a></li>
                                                <li><a href="#">Finalizadas</a></li>
                                            </ul>
                                        </li>

                                        <!--Menu list item-->
                                        <li>
                                            <a href="#">
                                                <i class="demo-pli-pen-5"></i>
                                                <span class="menu-title">Resumen de Ventas</span>
                                                <i class="arrow"></i>
                                            </a>

                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="#">Internas</a></li>
                                                <li><a href="#">Externas</a></li>
                                            </ul>
                                        </li>


                                        <li class="list-divider"></li>

                                        <!--Category name-->
                                        <li class="list-header">Reportes</li>

                                        <!--Menu list item-->
                                        <li>
                                            <a th:href="@{/incident/index}">
                                                <i class="ion-clipboard"></i>
                                                <span class="menu-title">
                                                    Incidentes
                                                    <span class="pull-right badge badge-warning">24</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="demo-pli-bar-chart"></i>
                                                <span class="menu-title">
                                                    Ganancias
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ion-alert-circled"></i>
                                                <span class="menu-title">
                                                    Perdida Productos
                                                    <span class="pull-right badge badge-danger">54</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li class="list-divider"></li>
                                        <!--Category name-->
                                        <li class="list-header">Configuración Sistema</li>

                                        <li>
                                            <a href="#">
                                                <i class="ion-flag"></i>
                                                <span class="menu-title">
                                                    Seguros
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a th:href="@{/transport-type/index}">
                                                <i class="ion-model-s"></i>
                                                <span class="menu-title">
                                                    Tipo de Transportes
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a th:href="@{/incident-type/index}">
                                                <i class="ion-settings"></i>
                                                <span class="menu-title">
                                                    Tipo de Incidentes
                                                </span>
                                            </a>
                                        </li>

                                    </ul>


                                    <form id="logoutForm" th:action="@{/logout}" method="post">
                                        <button class="dropdown-item" onclick="document.getElementById('logoutForm').submit();" type="submit">Sign Out</button>
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--================================-->
                        <!--End menu-->

                    </div>
                </nav>
                <!--===================================================-->
                <!--END MAIN NAVIGATION-->


            </div>

            <footer id="footer" th:fragment="footer">

                <!-- Visible when footer positions are fixed -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <div class="show-fixed pad-rgt pull-right">
                    Desarrollador por <a href="#" class="text-main"><span class="badge badge-danger"> Grupo 1</span> Portafolio 2019.</a>
                </div>





                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <p class="pad-lft">&#0169; 2019 Maipo Grande</p>

                <!-- Optional JavaScript -->
                <!-- jQuery first, then Bootstrap JS -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
                <!--script th:src="@{/assets/js/popper.min.js}"></script-->
<!--                <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>-->
                <!--Bootstrap Datepicker [ OPTIONAL ]-->
<!--                <script th:src="@{/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js}"></script>-->



                <!--BootstrapJS [ RECOMMENDED ]-->
                <script th:src="@{/assets/js/bootstrap.min.js}"></script>
                <!--NiftyJS [ RECOMMENDED ]-->
                <script th:src="@{/assets/js/nifty.min.js}"></script>

                <!--=================================================-->

                <!--Flot Chart [ OPTIONAL ]-->
<!--                <script th:src="@{/assets/plugins/flot-charts/jquery.flot.min.js}"></script>-->
<!--                <script th:src="@{/assets/plugins/flot-charts/jquery.flot.resize.min.js}"></script>-->
<!--                <script th:src="@{/assets/plugins/flot-charts/jquery.flot.tooltip.min.js}"></script>-->
<!--                <script th:src="@{/assets/js/demo/tables-bs-table.js}"></script>-->

<!--                &lt;!&ndash;X-editable [ OPTIONAL ]&ndash;&gt;-->
<!--                <script th:src="@{/assets/plugins/x-editable/js/bootstrap-editable.min.js}"></script>-->

                <!--Bootstrap Table [ OPTIONAL ]-->
                <script th:src="@{/assets/plugins/bootstrap-table/bootstrap-table.min.js}"></script>

                <!--Bootstrap Table Extension [ OPTIONAL ]-->
                <script th:src="@{/assets/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.js}"></script>

                <!--Sparkline [ OPTIONAL ]-->
<!--                <script th:src="@{/assets/plugins/sparkline/jquery.sparkline.min.js}"></script>-->

<!--                &lt;!&ndash;Specify page [ SAMPLE ]&ndash;&gt;-->
<!--                <script th:src="@{/assets/js/demo/dashboard.js}"></script>-->

                <!--Bootstrap Wizard [ OPTIONAL ]-->
                <script th:src="@{/assets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js}"></script>


                <!--Bootstrap Validator [ OPTIONAL ]-->
                <script th:src="@{/assets/plugins/bootstrap-validator/bootstrapValidator.min.js}"></script>


                <!--Form Wizard [ SAMPLE ]-->
                <script th:src="@{/assets/js/demo/form-wizard.js}"></script>

<!--                <script th:src="@{/assets/plugins/flot-charts/jquery.flot.min.js}"></script>-->

                <!--script th:src="@{/assets/js/demo/dashboard.js}"></script-->

                <script th:src="@{/assets/js/shopping-cart.js}"></script>

                <!--noUiSlider [ OPTIONAL ]-->
                <script th:src="@{/assets/plugins/noUiSlider/nouislider.min.js}"></script>


                <!--Select2 [ OPTIONAL ]-->
                <script th:src="@{/assets/plugins/select2/js/select2.min.js}"></script>

                <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


                <script>

                    $(document).ready(function () {

                        $('.select2').select2();
                        var defaults = {
                            closeText: 'Cerrar',
                            prevText: '<Ant',
                            nextText: 'Sig>',
                            currentText: 'Hoy',
                            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                            monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                            dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                            dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                            weekHeader: 'Sm',
                            dateFormat: 'yy/mm/dd',
                            firstDay: 1,
                            isRTL: false,
                            showMonthAfterYear: false,
                            yearSuffix: ''
                        };

                        $('#date_expire').datepicker({
                            dateFormat: 'dd-mm-yy',
                            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                            monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                            dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                            dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                            closeText: 'Cerrar',
                            prevText: '<Ant',
                            nextText: 'Sig>',
                            currentText: 'Hoy',
                        });


                        console.log($('#info').val());
                        if($('#info').val()){
                            $.niftyNoty({
                                type: 'info',
                                container : 'floating',
                                title : 'Info!',
                                message : $('#info').val() ,
                                closeBtn : true,
                                timer : 5500
                            });
                        }
                        console.log($('#danger').val());
                        if($('#danger').val()){
                            $.niftyNoty({
                                type: 'danger',
                                container : 'floating',
                                title : 'Error',
                                message : $('#danger').val() ,
                                closeBtn : true,
                                timer : 5500
                            });
                        }

                        if($('#warning').val()){
                            $.niftyNoty({
                                type: 'warning',
                                container : 'floating',
                                title : 'Alerta',
                                message : $('#warning').val() ,
                                closeBtn : true,
                                timer : 5500
                            });
                        }

                        if($('#success').val()){
                            $.niftyNoty({
                                type: 'success',
                                container : 'floating',
                                title : 'Exito!',
                                message : $('#success').val() ,
                                closeBtn : true,
                                timer : 5500
                            });
                        }



                    });

                    function lengthValidator(v_input, v_response, v_maxLength, v_parent) {

                        if ($(v_input).val().length <= v_maxLength) {
                            $('#'+v_response).html((v_maxLength - $(v_input).val().length) + ' carateres restantes');
                            $('#'+v_parent).removeClass('has-error');
                        } else {
                            $('#'+v_response).html('Largo máximo de '+ v_maxLength+' caracteres excedido!');
                            $('#'+v_parent).addClass('has-error');
                            $(v_input).focusout();
                            $(v_input).attr('maxlength', v_maxLength);
                        }


                    }

                    var numberSpinner = (function() {
                        $('.number-spinner>.ns-btn>a').click(function() {
                            var btn = $(this),
                                oldValue = btn.closest('.number-spinner').find('input').val().trim(),
                                newVal = 0;

                            if (btn.attr('data-dir') === 'up') {
                                newVal = parseInt(oldValue) + 1;
                            } else {
                                if (oldValue > 1) {
                                    newVal = parseInt(oldValue) - 1;
                                } else {
                                    newVal = 1;
                                }
                            }
                            btn.closest('.number-spinner').find('input').val(newVal);
                        });
                        $('.number-spinner>input').keypress(function(evt) {
                            evt = (evt) ? evt : window.event;
                            var charCode = (evt.which) ? evt.which : evt.keyCode;
                            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                                return false;
                            }
                            return true;
                        });
                    })();

                </script>
            </footer>
        </div>
    </body>
</html>