<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4" style="margin-top: 80px">
    <div class="card bg-light">
        <div class="card-header" th:text="${title}"></div>
        <div class="card-body">
            <div th:each="productAvailable : ${productsAvailable}" class="card">
                <!-- <img th:src="${productAvailable.image}}" alt="product" style="width:100%"> -->
                <img src="https://png.pngtree.com/png_detail/20181019/red-apple-kind-png-clipart_1848379.png" alt="product" style="width: 10%">
                <div class="container">
                    <h4><b th:text="${productAvailable.name}"></b></h4>
                    <p th:text="${productAvailable.description}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
