<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
<div id="container" class="effect aside-float aside-bright mainnav-lg">

    <header th:replace="layout/layout :: header"></header>

    <div class="boxed">
        <div id="content-container">

            <div th:replace="layout/layout :: page-head"></div>

            <!-- Content -->
            <div id="page-content">
                <input type="hidden" th:if="${info != null}" id="info" th:value="${info}">
                <input type="hidden" th:if="${error != null}" id="danger" th:value="${error}">
                <input type="hidden" th:if="${success != null}" id="success" th:value="${success}">
                <input type="hidden" th:if="${warning != null}" id="warning" th:value="${warning}">

                <div class="panel mt-2">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${title}"></h3>
                    </div>
                    <div class="panel-body">

                        <div th:object="${incident}" th:remove="tag">
                            <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
                                role="alert">
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                            </ul>
                        </div>


                        <div th:object="${incident}" th:remove="tag">
                            <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
                                role="alert">
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                            </ul>
                        </div>


                        <form th:action="@{/incident/form}" th:object="${incident}" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div th:if="${person.getRole().getId() == 3 || person.getRole().getId() == 4}" class="col-md-6">
                                            <div class="form-group">
                                                <label for="incidentType" class="col-form-label">Tipo de Incidente (*)</label>
                                                <select id="incidentType" th:field="*{incidentType}" class="form-control">
                                                    <option th:each="incidentType : ${incidentTypes}"
                                                            th:value="${incidentType.id}"
                                                            th:text="${incidentType.name}"
                                                            th:selected="${incidentType.id == 1}"/>
                                                </select>
                                                <small
                                                    class="form-text text-danger"
                                                    th:if="${#fields.hasErrors('incidentType')}" th:errors="*{incidentType}">
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="orderNumber" class="col-form-label">Número de Orden (*)</label>
                                                <input id="orderNumber" type="number" min="1" th:field="*{orderNumber}" th:readonly="${editing}" class="form-control"/>
                                                <small
                                                    class="form-text text-danger"
                                                    th:if="${#fields.hasErrors('orderNumber')}" th:errors="*{orderNumber}">
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div th:if="${person.getRole().getId() == 3 || person.getRole().getId() == 4}"  class="col-md-12">
                                            <div class="form-group">
                                                <label for="message" class="col-form-label">Mensaje (*)</label>
                                                <textarea id="message" type="text" th:field="*{message}" class="form-control"
                                                          th:errorclass="'form-control alert-danger'" required></textarea> <small
                                                    class="form-text text-danger"
                                                    th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div th:if="${person.getRole().getId() == 1}" class="col-sm-12">
                                            <div class="form-group">
                                                <label for="answer" class="col-form-label">Respuesta (*)</label>
                                                <textarea id="answer" type="text" th:field="*{answer}" class="form-control"
                                                          th:errorclass="'form-control alert-danger'" required></textarea> <small
                                                    class="form-text text-danger"
                                                    th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group ">
                                                <input type="submit" th:value="${title}" class="btn btn-primary pull-right" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- End Content -->

        </div>

        <!-- MENU PRINCIPAL -->
        <nav th:replace="layout/layout :: mainnav-container"></nav>
        <!-- END MENU PRINCIPAL -->

    </div>

    <footer th:replace="layout/layout :: footer"></footer>

</div>

</body>
</html>
