
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
<div id="container" class="effect aside-float aside-bright mainnav-lg">

    <header th:replace="layout/layout :: header"></header>

    <div class="boxed">
        <div id="content-container">

            <div th:replace="layout/layout :: page-head"></div>

            <!-- Content -->
            <div id="page-content">

                <div class="panel mt-2">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${title}"></h3>
                    </div>
                    <div class="panel-body">

                        <div th:object="${person}" th:remove="tag">
                            <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
                                role="alert">
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                            </ul>
                        </div>


                        <div th:object="${person}" th:remove="tag">
                            <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
                                role="alert">
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                            </ul>
                        </div>

                        <form th:action="@{/person/form}" th:object="${person}" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label">Nombre</label>
                                        <input id="name" type="text" th:field="*{name}" required class="form-control"
                                               th:errorclass="'form-control alert-danger'" /> <small
                                            class="form-text text-danger"
                                            th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lastName" class="col-form-label">Apellido</label>
                                        <input id="lastName" type="text" th:field="*{lastName}" required class="form-control"
                                               th:errorclass="'form-control alert-danger'" /> <small
                                            class="form-text text-danger"
                                            th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label">Email</label>
                                        <input id="email" type="email" th:field="*{email}" required class="form-control"
                                               th:errorclass="'form-control alert-danger'" /> <small
                                            class="form-text text-danger"
                                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="country" class="col-form-label">País</label>
                                        <select id="country" class="form-control select2" required >
                                            <option value="" selected disabled>Seleccione un País</option>
                                        </select>
                                        <small
                                                class="form-text text-danger">
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="region" class="col-form-label">Región</label>
                                        <select id="region" class="form-control select2" required >
                                            <option value="" selected disabled>Seleccione una Región</option>
                                        </select>
                                        <small
                                                class="form-text text-danger">
                                        </small>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="role" class="col-form-label">Rol (*)</label>
                                        <select id="role" th:field="*{role}" class="form-control" required >
                                            <option th:each="role : ${listRoles}"
                                                    th:value="${role.id}"
                                                    th:text="${role.name}"
                                                    th:selected="${role.id == 1}"/>
                                        </select>
                                        <small
                                                class="form-text text-danger"
                                                th:if="${#fields.hasErrors('role')}" th:errors="*{role}">
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="companyName" class="col-form-label">Nombre Compañia</label>
                                        <input id="companyName" type="text" th:field="*{companyName}" class="form-control"
                                               th:errorclass="'form-control alert-danger'" /> <small
                                            class="form-text text-danger"
                                            th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></small>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="username" class="col-form-label">Username</label>
                                        <input id="username" type="text" th:field="*{username}" class="form-control"
                                               th:errorclass="'form-control alert-danger'" /> <small
                                            class="form-text text-danger"
                                            th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="password" class="col-form-label">Contraseña</label>
                                        <input id="password" type="password" th:field="*{password}" class="form-control"
                                               th:errorclass="'form-control alert-danger'" /> <small
                                            class="form-text text-danger"
                                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                                    </div>
                                </div>








                                <div class="col-sm-6">
                                    <div class="form-group ">
                                        <input type="submit" th:value="${title}" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
            <!-- End Content -->

        </div>

        <!-- MENU PRINCIPAL -->
        <nav th:replace="layout/layout :: mainnav-container"></nav>
        <!-- END MENU PRINCIPAL -->

    </div>

    <footer th:replace="layout/layout :: footer"></footer>

</div>

<script>

    $(document).ready(function () {

        var data = $.xResponse(null);
        if (data){
            data.forEach(function (item) {
                let opt = $('<option value="'+item.code+'">'+item.name+'</option>');
                $('#country').append(opt);
            });
        }
    });

    $('#country').change(function(){
        var data2 = $.xResponse($('#country').val());
        console.log(data2);
        if (data2){
            $("#region option").remove();
            data2.forEach(function (item) {
                let opt = $('<option value="'+item.region+'">'+item.region+'</option>');
                $('#region').append(opt);
            });
        }
    });




    const proxy = 'https://cors-anywhere.herokuapp.com/';

    // RETURN DATA
    function getCallback(val) {
        return val;
    }

    // GETDATAAPI
    $.extend({
        xResponse: function (country) {
            console.log(country);
            var uri = '';
            if(country!=null){
                uri = 'battuta.medunes.net/api/region/'+country+'/all/?key=55114053174354b2b21345eaba9a6781';
            }else{
                uri = 'battuta.medunes.net/api/country/all/?key=55114053174354b2b21345eaba9a6781';
            }
            console.log(uri);
            var theResponse = null;
            // jQuery ajax
            $.ajax({
                url: proxy + uri,
                type: 'GET',
                dataType: 'json',
                contentType: 'json',
                async: false,
                success: function (respText) {
                    theResponse = respText;
                },
                error: function (jqXHR, textStatus) {
                    if (jqXHR.status === 0) {

                        console.log('Not connect: Verify Network.');

                    } else if (jqXHR.status == 404) {

                        console.log('Requested page not found [404]');

                    } else if (jqXHR.status == 500) {

                        console.log('Internal Server Error [500].');

                    } else if (textStatus === 'parsererror') {

                        console.log('Requested JSON parse failed.');

                    } else if (textStatus === 'timeout') {

                        console.log('Time out error.');

                    } else if (textStatus === 'abort') {

                        console.log('Ajax request aborted.');

                    } else {
                        console.log('Uncaught Error: ' + jqXHR.responseText);
                    }
                }
            });
            // Return the response text
            return theResponse;
        }
    });

</script>
</body>
</html>
