
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
<div id="container" class="effect aside-float aside-bright mainnav-lg">

    <header th:replace="layout/layout :: header"></header>

    <div class="boxed">
        <div id="content-container">

            <div th:replace="layout/layout :: page-head"></div>

            <!-- Content -->
            <div id="page-content">

                <div class="panel">
                    <div class="eq-height clearfix">
                        <div class="col-md-4 eq-box-md text-center box-vmiddle-wrap bord-hor">

                            <!-- Simple Promotion Widget -->
                            <!--===================================================-->
                            <div class="box-vmiddle pad-all">
                                <h3 class="text-main">Registro de Usuarios</h3>
                                <div class="pad-ver">
                                    <i class="demo-pli-bag-coins icon-5x"></i>
                                </div>
                                <p class="pad-btn text-sm">Members get <span class="text-lg text-bold text-main">50%</span> more points, so register today and start earning points for savings on great rewards!</p>
                                <br>
                                <a class="btn btn-lg btn-primary" href="#">Learn More...</a>
                            </div>
                            <!--===================================================-->

                        </div>
                        <div class="col-md-8 eq-box-md eq-no-panel">

                            <!-- Main Form Wizard -->
                            <!--===================================================-->
                            <div id="demo-main-wz">

                                <!--nav-->
                                <ul class="row wz-step wz-icon-bw wz-nav-off mar-top" style="list-style: none; text-align: center; padding-bottom: 15px;">
                                    <li class="col-xs-3">
                                        <a data-toggle="tab" href="#demo-main-tab1">
                                            <span class="text-danger"><i class="demo-pli-information icon-2x"></i></span>
                                            <h5 class="mar-no pt-2">Datos Personales</h5>
                                        </a>
                                    </li>
                                    <li class="col-xs-3">
                                        <a data-toggle="tab" href="#demo-main-tab2">
                                            <span class="text-warning"><i class="demo-pli-male icon-2x"></i></span>
                                            <h5 class="mar-no pt-2">Datos de Seguridad</h5>
                                        </a>
                                    </li>
                                    <li class="col-xs-3">
                                        <a data-toggle="tab" href="#demo-main-tab3">
                                            <span class="text-info"><i class="demo-pli-home icon-2x"></i></span>
                                            <h5 class="mar-no pt-2">Direcciones</h5>
                                        </a>
                                    </li>
                                    <li class="col-xs-3">
                                        <a data-toggle="tab" href="#demo-main-tab4">
                                            <span class="text-success"><i class="demo-pli-medal-2 icon-2x"></i></span>
                                            <h5 class="mar-no pt-2">Finalizar</h5>
                                        </a>
                                    </li>
                                </ul>

                                <!--progress bar-->
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-primary"></div>
                                </div>


                                <!--form-->
                                <form class="form-horizontal">
                                    <div class="panel-body">
                                        <div class="tab-content">

                                            <!--First tab-->
                                            <div id="demo-main-tab1" class="tab-pane">
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">Username</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" name="username" placeholder="Username">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">Email address</label>
                                                    <div class="col-lg-9">
                                                        <input type="email" class="form-control" name="email" placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">Password</label>
                                                    <div class="col-lg-9 pad-no">
                                                        <div class="clearfix">
                                                            <div class="col-lg-4">
                                                                <input type="password" class="form-control mar-btm" name="password" placeholder="Password">
                                                            </div>
                                                            <div class="col-lg-4 text-lg-right"><label class="control-label">Retype password</label></div>
                                                            <div class="col-lg-4"><input type="password" class="form-control" name="password2" placeholder="Retype password"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Second tab-->
                                            <div id="demo-main-tab2" class="tab-pane fade">
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">First name</label>
                                                    <div class="col-lg-9 pad-no">
                                                        <div class="clearfix">
                                                            <div class="col-lg-4">
                                                                <input type="text" placeholder="First name" name="firstName" class="form-control">
                                                            </div>
                                                            <div class="col-lg-4 text-lg-right"><label class="control-label">Last name</label></div>
                                                            <div class="col-lg-4"><input type="text" placeholder="Last name" name="lastName" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">Company</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" placeholder="Company" name="company" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">Member Type</label>
                                                    <div class="col-lg-9">
                                                        <div class="radio">
                                                            <input id="demo-radio-1" class="magic-radio" type="radio" name="memberType" value="free">
                                                            <label for="demo-radio-1">Free</label>

                                                            <input id="demo-radio-2" class="magic-radio" type="radio" name="memberType" value="personal">
                                                            <label for="demo-radio-2">Personal</label>

                                                            <input id="demo-radio-3" class="magic-radio" type="radio" name="memberType" value="bussines">
                                                            <label for="demo-radio-3">Bussiness</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Third tab-->
                                            <div id="demo-main-tab3" class="tab-pane">
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">Phone Number</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" placeholder="Phone number" name="phoneNumber" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">Address</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" placeholder="Address" name="address" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">City</label>
                                                    <div class="col-lg-9 pad-no">
                                                        <div class="clearfix">
                                                            <div class="col-lg-5">
                                                                <input type="text" placeholder="City" name="city" class="form-control">
                                                            </div>
                                                            <div class="col-lg-3 text-lg-right"><label class="control-label">Poscode</label></div>
                                                            <div class="col-lg-4"><input type="text" placeholder="Poscode" name="poscode" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Fourth tab-->
                                            <div id="demo-main-tab4" class="tab-pane">
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">Bio</label>
                                                    <div class="col-lg-9">
                                                        <textarea placeholder="Tell us your story..." rows="4" name="bio" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-9 col-lg-offset-2">
                                                        <div class="checkbox">
                                                            <input id="demo-checkbox-1" class="magic-checkbox" type="checkbox" name="acceptTerms">
                                                            <label for="demo-checkbox-1"> Aceptar terminos y condiciones</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!--Footer buttons-->
                                    <div class="pull-right pad-rgt mar-btm">
                                        <button type="button" class="previous btn btn-primary">Anterior</button>
                                        <button type="button" class="next btn btn-primary">Siguiente</button>
                                        <button type="button" class="finish btn btn-success" disabled>Finalizar</button>
                                    </div>

                                </form>
                            </div>
                            <!--===================================================-->
                            <!-- End of Main Form Wizard -->

                        </div>
                    </div>
                </div>

                <div class="panel mt-2">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${title}"></h3>
                    </div>
                    <div class="panel-body">

                        <div th:object="${person}" th:remove="tag">
                            <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
                                role="alert">
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                            </ul>
                        </div>


                        <div th:object="${person}" th:remove="tag">
                            <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
                                role="alert">
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                            </ul>
                        </div>

                        <form th:action="@{/person/form}" th:object="${person}" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label">Nombre</label>
                                        <input id="name" type="text" th:field="*{name}" required class="form-control"
                                               th:errorclass="'form-control alert-danger'" /> <small
                                            class="form-text text-danger"
                                            th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lastName" class="col-form-label">Apellido</label>
                                        <input id="lastName" type="text" th:field="*{lastName}" required class="form-control"
                                               th:errorclass="'form-control alert-danger'" /> <small
                                            class="form-text text-danger"
                                            th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label">Email</label>
                                        <input id="email" type="email" th:field="*{email}" required class="form-control"
                                               th:errorclass="'form-control alert-danger'" /> <small
                                            class="form-text text-danger"
                                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="companyName" class="col-form-label">Nombre Compañia</label>
                                        <input id="companyName" type="text" th:field="*{companyName}" class="form-control"
                                               th:errorclass="'form-control alert-danger'" /> <small
                                            class="form-text text-danger"
                                            th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group ">
                                        <input type="submit" th:value="${title}" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
            <!-- End Content -->

        </div>

        <!-- MENU PRINCIPAL -->
        <nav th:replace="layout/layout :: mainnav-container"></nav>
        <!-- END MENU PRINCIPAL -->

    </div>

    <footer th:replace="layout/layout :: footer"></footer>

</div>
</body>
</html>
