<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
<div id="container" class="effect aside-float aside-bright mainnav-lg">

    <header th:replace="layout/layout :: header"></header>

    <div class="boxed">
        <div id="content-container">

            <div th:replace="layout/layout :: page-head"></div>

            <!-- Content -->
            <div id="page-content">
                <input type="hidden" th:if="${info != null}" id="info" th:value="${info}">
                <input type="hidden" th:if="${error != null}" id="danger" th:value="${error}">
                <input type="hidden" th:if="${success != null}" id="success" th:value="${success}">
                <input type="hidden" th:if="${warning != null}" id="warning" th:value="${warning}">

                <div class="panel mt-2">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${title}"></h3>
                    </div>
                    <div class="panel-body">

                        <div th:object="${productAvailable}" th:remove="tag">
                            <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
                                role="alert">
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                            </ul>
                        </div>


                        <div th:object="${productAvailable}" th:remove="tag">
                            <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
                                role="alert">
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                            </ul>
                        </div>


                        <form th:action="@{/product-available/form}" th:object="${productAvailable}" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="product" class="col-form-label">Producto (*)</label>
                                                <select id="product" th:field="*{product}" class="form-control select2" required >
                                                    <option value="" selected disabled>Seleccione un Producto</option>
                                                    <option th:each="prod : ${ListProduct}"
                                                            th:value="${prod.id}"
                                                            th:text="${prod.name}"
                                                            />
                                                </select>
                                                <small
                                                        class="form-text text-danger"
                                                        th:if="${#fields.hasErrors('product')}" th:errors="*{product}">
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="precio" class="col-form-label">Precio (*)</label>
                                                <input id="precio" type="number" th:field="*{price}" class="form-control"
                                                       th:errorclass="'form-control alert-danger'" required  /> <small
                                                    class="form-text text-danger"
                                                    th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
                                            </div>
                                        </div>


                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="stock" class="col-form-label">Stock (*)</label>
                                                <input id="stock" type="text" th:field="*{stock}" class="form-control"
                                                       th:errorclass="'form-control alert-danger'" required  /> <small
                                                    class="form-text text-danger"
                                                    th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></small>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="sale_type" class="col-form-label">Tipo Venta (*)</label>
                                                <select id="sale_type" th:field="*{saleType}" class="form-control select2" required >
                                                    <option value="" selected disabled>Seleccione Tipo</option>
                                                    <option value="EXTERNA" >EXTERNA</option>
                                                    <option value="INTERNA" >INTERNA</option>
                                                </select>
                                                <small th:if="${#fields.hasErrors('saleType')}" th:errors="*{saleType}"></small>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="stock_unity" class="col-form-label">Tipo de Unidad Stock (*)</label>
                                                <select id="stock_unity" th:field="*{stock_unity}" class="form-control select2" required >
                                                    <option value="" selected disabled>Seleccione unidad</option>
                                                    <option value="KG" >KG</option>
                                                </select>
                                                <small th:if="${#fields.hasErrors('stock_unity')}" th:errors="*{stock_unity}"></small>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="date_expire" class="col-form-label">Fecha de Expiración (*)</label>
                                                <input th:field="*{date_expire}" id="date_expire" type="text" required class="form-control">
                                                 <small class="form-text text-danger"
                                                    th:if="${#fields.hasErrors('date_expire')}" th:errors="*{date_expire}"></small>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group ">
                                            <input type="submit" th:value="${title}" class="btn btn-primary pull-right" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- End Content -->

        </div>

        <!-- MENU PRINCIPAL -->
        <nav th:replace="layout/layout :: mainnav-container"></nav>
        <!-- END MENU PRINCIPAL -->

    </div>

    <footer th:replace="layout/layout :: footer"></footer>

</div>

</body>
</html>
